/* Fonts:
font-family: 'Architects Daughter', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
  /* background-color: #ffffff; */
  color: #323232;
  margin: 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

footer {
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: #323232;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Manrope", sans-serif;
}

h2 {
  color: #323232;
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #323232;
  font-family: "Roboto Mono", monospace;
}

p {
  line-height: 2;
}

/* .footer-hr {
  border: solid 1px;
  width: 80%;
} */
/* 
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
} */

a:hover {
  color: #eaf6f6;
}

#rails-logo {
  height: 110px;
}
#express-logo {
  width: 110px;
}
.profile-img {
  border-radius: 50%;
}

#profile-section {
  padding: 20rem 5rem 10rem;
}

#nav {
  border-bottom: black solid 4px;
}

/* #top {
  background-color: #ffffff;
  padding: 16rem 0 16rem;
} */

/* #skills-section,
#features {
  background-color: #ffffff;
} */

#project-section {
  /* border-top: 3px solid black; */
  padding: 5rem 0 16rem;
  background-color: #ffffff;
}

#brand-name {
  color: black;
  font-size: 1.8rem;
  font-family: "Architects Daughter", cursive;
  padding-left: 3rem;
}

#button-colapse {
  color: black;
}

#profile-tag,
#project-tag,
#hire-me {
  font-size: 1.6rem;
  color: black;
  font-family: "Architects Daughter", cursive;
}

#skills-row,
#skills-section {
  padding: 2rem 1rem 2rem;
}

#skills-bottom {
  padding: 1rem 0rem 2rem;
  text-align: end;
}

#rails-logo2 {
  width: 60px;
  height: 60px;
}

.top-container {
  padding: 3rem 0 5rem;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #323232;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me h2 {
  color: white;
  font-family: "Roboto Mono", monospace;
}
#contact-message {
  width: 40%;
  margin: 40px auto 60px;
  font-family: "Roboto Mono", monospace;
}

.contact-button {
  font-family: "Roboto Mono", monospace;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  padding: 16px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.contact-button:hover {
  background-color: transparent;
}
.contact-button:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
#copyright {
  font-family: "Roboto Mono", monospace;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
